<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сalculator</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
    <div id="calc">
        <input type="text" class="input" @keyup.enter="calc()" v-model='result' placeholder="0">
        <button class="btn" @click="del()">C</button>
        <button class="btn" @click="input(symbol)" v-for="symbol in symbols">{{symbol}}</button>
        <button class="btn" @click="calc()">=</button>
    </div>
    <script src="./script/app.js"></script>
</body>
</html>